/* styles for inspection date */

.Inspection-date {
	position: absolute;
	bottom: 5px;
	font-size: 0.8em;
}

.Inspection-date::after {
	content: attr(data-month) ' \2219 ' attr(data-date) ' \2219 ' attr(data-year);
}
