@media screen and (min-width: 768px) {
    body:not(.mobile).start {
        #root {
            height: 100vh;
            
            .App {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
    
            .App-header, .App-footer {
                display: flex;
                flex: 1;
                flex-direction: row;
            }
    
            .Restaurant-search {
                display: flex;
                flex-direction: column;
                flex-grow: inherit;
                flex: 9;
            }
    
            .Search-results {
                height: 100%;
    
                .jumbotron {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }
    
                .Letter-grades {
                    width: 100%;
                }
            }
        }
    }
}