/* styles for restaurant info (appears in modal) - need to refactor to reusable between page and modal */

.restaurant-info {
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: flex-start;
	margin-bottom: 25px;
    outline: 1px solid #ababab;
    outline-offset: -1px;
	padding: 10px;
	width: 100%;

	@media screen and (min-width: 768px) {
		flex-grow: 1;
		justify-content: flex-start;
	}
	
	/* Specific to restaurant info */
	.address {
		.street::after {
			content: ',';
		}
	}

	.name {
		color: rgb(14, 53, 78);
		font-weight: 600;
	}
}
