/* styles for search form on home page */

$color_1: #ffffff;
$color_2: #555555;
$color_3: white;
$background_color_1: transparent;
$background_color_2: #ffffff;
$background_color_3: rgb(69, 176, 230);

.Search-form {
	background-size: cover !important;
	padding: 15px 5%;
	z-index: 1;

	.search-type {
		position: relative;
		background-color: $background_color_1;
	}

	.search-label {
		> span {
			position: relative;
			float: left;
			background-color: $background_color_2;
			color: $color_2;
			font-size: 1.5em;
			font-weight: 600;
			text-align: left;
			padding: 5px;
		}
	}

	.search-cuisine {
		> span {
			position: relative;
			float: left;
			background-color: $background_color_3;
			color: $color_1;
			font-size: 1em;
			font-weight: 600;
			font-style: italic;
			text-transform: uppercase;
			padding: 5px;
			text-align: left;
			&::before {
				content: attr(data-value) ' ';
			}
		}
	}

	.title {
		font-size: 2em;
		color: $color_1;
	}

	&:not([data-type='search']) {
		.btn-success {
			display: block;
			display: none;
		}
		.title {
			display: none;
		}
		.input-group {
			display: none;
		}
		.search-type {
			display: flex;
			flex-direction: column;
			padding: 20px 0;
		}
	}

	&.jumbotron {
		background: rgb(135,224,253); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(135,224,253,1) 0%, rgba(14,53,78,1) 0%, rgba(19,67,98,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(135,224,253,1) 0%,rgba(14,53,78,1) 0%,rgba(19,67,98,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(135,224,253,1) 0%,rgba(14,53,78,1) 0%,rgba(19,67,98,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#134362',GradientType=1 );
	}
}

.Search-form[data-type='search'] {
	.title {
		display: inline-table;
	}

	.input-group {
		display: inline-table;
	}

	.search-type {
		display: none;
	}
}

.Search-results {
	display: flex;
    justify-content: center;
	align-items: center;
	height: 100%;
    width: 100%;
	
	.jumbotron {
		display: flex;
		justify-content: center;
		height: 100%;
		width: 100%;
		background: none;
		padding: 15px 5%;
		z-index: 1;
	}
}

.Restaurant-search[view='home'] {
	.Search-results {
		.jumbotron {
			align-items: center;
		}
	}
}

.Restaurant-search[view='results'] {
	.Search-results {
		.jumbotron {
			align-items: flex-start;
		}
	}
}

.Filters {
	display: flex;
	justify-content: flex-start;
	padding-bottom: 15px;

	select {
		background-color: $background_color_3;
		color: $color_3;
		font-size: 1.5rem;
		outline: none;
		border: 0;
	}

	.col-lg-12 {
		width: auto;
	}
}

@media screen and (min-width: 768px) {
	.Search-form .search-label span {
		font-size: 3em;
	}

	.Search-form .search-cuisine span {
		font-size: 2em;
	}

	.Filters select:last-child {
		margin-left: 10px;
	}
}
