/* styles for search form on home page */
.search-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	background-size: cover !important;
	background-position: center !important;
	padding: 15px 5%;
	z-index: 1;

	.search-type {
		position: relative;
		background-color: transparent;
	}

	.search-label {
		> span {
			position: relative;
			float: left;
			background-color: #ffffff;
			color: #555555;
			font-size: 1.5em;
			font-weight: 600;
			text-align: left;
			padding: 5px;
		}
	}

	.search-cuisine {
		> span {
			position: relative;
			float: left;
			background-color: rgb(69, 176, 230);
			color: #ffffff;
			font-size: 1em;
			font-weight: 600;
			font-style: italic;
			text-transform: uppercase;
			padding: 5px;
			text-align: left;
			&::before {
				content: attr(data-value) ' ';
			}
		}
	}

	.title {
		font-size: 2em;
		color: #ffffff;
	}

	&:not([data-type='search']) {
		.title {
			display: none;
		}
		.search-type {
			display: flex;
			flex-direction: column;
			padding: 20px 0;
		}
	}

	&.jumbotron {
		background: rgb(135,224,253); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(135,224,253,1) 0%, rgba(14,53,78,1) 0%, rgba(19,67,98,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(135,224,253,1) 0%,rgba(14,53,78,1) 0%,rgba(19,67,98,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(135,224,253,1) 0%,rgba(14,53,78,1) 0%,rgba(19,67,98,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#134362',GradientType=1 );
	}
}

.search-form[data-type='search'] {
	.title {
		display: inline-table;
	}

	.input-group {
		display: inline-table;
	}

	.search-type {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.search-form .search-label span {
		font-size: 3em;
	}

	.search-form .search-cuisine span {
		font-size: 2em;
	}
}
