.app {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 320px;
	position: relative;

	img {
		image-rendering: crisp-edges; /* not fully supported yet - but maybe one day! */
	}

	.bold {
		font-weight: 600;
	}
	
	.pad-20 {
		padding: 20px;
	}

	@import 'base/appBody';
	@import 'base/appHeaderFooter';
	@import 'components/all';
}

@import 'other/bootstrapOverrides';
@import 'components/modal'; /* React Bootstrap Modal attaches to body - not .app */
