.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
  position: relative;
  /* styles for restaurant address */
  /* styles for inspection grade */
  /* styles for images - use classname set on image component */
  /* styles for inspection date */
  /* styles for phone number */
  /* styles for search box in header */
  /* styles for search form on home page */ }
  .app img {
    image-rendering: crisp-edges;
    /* not fully supported yet - but maybe one day! */ }
  .app .app-body {
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
    flex: 9;
    overflow-y: auto;
    overflow-x: hidden; }
    .app .app-body[view='home'] .search-results form {
      display: none; }
    .app .app-body[view='home'] .search-results .jumbotron {
      align-items: center; }
    .app .app-body[view='results'] .restaurant-search {
      position: fixed;
      top: 15px;
      right: 5%;
      width: 50%;
      height: 80px; }
      .app .app-body[view='results'] .restaurant-search form {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%; }
        .app .app-body[view='results'] .restaurant-search form select {
          display: none; }
    .app .app-body[view='results'] .search-form {
      display: flex;
      align-items: flex-start;
      z-index: 100; }
    .app .app-body[view='results'] .search-results .jumbotron {
      align-items: flex-start; }
    .app .app-body .letter-grid {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%; }
    .app .app-body .restaurant-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start; }
  .app .app-footer,
  .app .app-header {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    background-color: #0e354e;
    padding: 15px 5%;
    text-align: left;
    color: white;
    z-index: 10; }
    .app .app-footer img,
    .app .app-header img {
      position: relative;
      height: 40px;
      left: -5px;
      /* logo png has padding - account for this for alignment */ }
      @media screen and (min-width: 768px) {
        .app .app-footer img,
        .app .app-header img {
          height: 50px; } }
  .app .bold {
    font-weight: 600; }
  .app .pad-20 {
    padding: 20px; }
  .app .address span {
    margin-right: 5px; }
  .app .address .city::after {
    content: ','; }
  .app .filters {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px; }
    .app .filters select {
      background-color: #45b0e6;
      color: #ffffff;
      font-size: 1.5rem;
      outline: none;
      border: 0; }
      @media screen and (min-width: 768px) {
        .app .filters select[name='price'] {
          margin-left: 10px; } }
    .app .filters .col-lg-12 {
      width: auto; }
  .app .grade-letter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 65px;
    height: 65px; }
    .app .grade-letter-container .grade-image {
      position: absolute;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: inherit;
      height: inherit; }
      .app .grade-letter-container .grade-image img {
        width: 40%; }
    @media screen and (min-width: 568px) {
      .app .grade-letter-container {
        height: 75px;
        width: 75px; } }
    @media screen and (min-width: 667px) {
      .app .grade-letter-container {
        height: 100px;
        width: 100px; } }
    @media screen and (min-width: 768px) {
      .app .grade-letter-container {
        height: 150px;
        width: 150px; } }
    @media screen and (min-width: 1024px) {
      .app .grade-letter-container {
        height: 200px;
        width: 200px; } }
    @media screen and (min-width: 1240px) {
      .app .grade-letter-container {
        width: 250px;
        height: 250px; } }
    @media screen and (min-width: 1440px) {
      .app .grade-letter-container {
        width: 300px;
        height: 300px; } }
  .app .inspection-seal {
    position: relative;
    float: left;
    /* allows image to sit behind grade letter */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0; }
    .app .inspection-seal img {
      width: 75%;
      opacity: .5;
      z-index: 1; }
  .app .date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .app .date .month::after, .app .date .date-date::after {
      content: '\2219'; }
  .app .restaurant {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    width: 100%;
    /* styles for restaurant info (appears in modal) - need to refactor to reusable between page and modal */
    /* styles for restaurant photo */ }
    .app .restaurant .grade-letter-container {
      position: absolute;
      top: 30%;
      right: 2%;
      width: 75px;
      height: 75px;
      box-shadow: 0px 0px 3px #000000; }
      .app .restaurant .grade-letter-container .inspection-seal,
      .app .restaurant .grade-letter-container .grade-image {
        width: 100%;
        height: 100%; }
      .app .restaurant .grade-letter-container .inspection-seal img {
        align-self: flex-start;
        width: 60%;
        margin-top: 5px; }
      .app .restaurant .grade-letter-container .grade-image img {
        align-self: flex-start;
        /* Defaults for Grade Pending */
        margin-top: 15px;
        width: 60%; }
        .app .restaurant .grade-letter-container .grade-image img[data-type='A'] {
          margin-top: 5px; }
        .app .restaurant .grade-letter-container .grade-image img[data-type='B'] {
          margin-top: 7px;
          width: 47%; }
        .app .restaurant .grade-letter-container .grade-image img[data-type='C'] {
          margin-top: 5px; }
      .app .restaurant .grade-letter-container .date {
        position: absolute;
        background: transparent;
        bottom: 3px;
        font-size: 1rem;
        font-weight: 600; }
    .app .restaurant .inspection-info {
      display: none; }
    @media screen and (min-width: 768px) {
      .app .restaurant {
        align-self: stretch;
        width: 31%; } }
    .app .restaurant .restaurant-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 25px;
      outline: 1px solid #ababab;
      outline-offset: -1px;
      padding: 10px;
      width: 100%;
      /* Specific to restaurant info */ }
      @media screen and (min-width: 768px) {
        .app .restaurant .restaurant-info {
          flex-grow: 1;
          justify-content: flex-start; } }
      .app .restaurant .restaurant-info .address .street::after {
        content: ','; }
      .app .restaurant .restaurant-info .name {
        color: #0e354e;
        font-weight: 600; }
    .app .restaurant .photo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 150px;
      overflow: hidden; }
      .app .restaurant .photo img {
        width: 100%;
        height: auto; }
  .app .restaurants {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .app .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    padding: 15px 5%;
    z-index: 1; }
    .app .search-form .search-type {
      position: relative;
      background-color: transparent; }
    .app .search-form .search-label > span {
      position: relative;
      float: left;
      background-color: #ffffff;
      color: #555555;
      font-size: 1.5em;
      font-weight: 600;
      text-align: left;
      padding: 5px; }
    .app .search-form .search-cuisine > span {
      position: relative;
      float: left;
      background-color: #45b0e6;
      color: #ffffff;
      font-size: 1em;
      font-weight: 600;
      font-style: italic;
      text-transform: uppercase;
      padding: 5px;
      text-align: left; }
      .app .search-form .search-cuisine > span::before {
        content: attr(data-value) " "; }
    .app .search-form .title {
      font-size: 2em;
      color: #ffffff; }
    .app .search-form:not([data-type='search']) .title {
      display: none; }
    .app .search-form:not([data-type='search']) .search-type {
      display: flex;
      flex-direction: column;
      padding: 20px 0; }
    .app .search-form.jumbotron {
      background: #87e0fd;
      /* Old browsers */
      background: -moz-linear-gradient(left, #87e0fd 0%, #0e354e 0%, #134362 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #87e0fd 0%, #0e354e 0%, #134362 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #87e0fd 0%, #0e354e 0%, #134362 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#134362',GradientType=1 ); }
  .app .search-form[data-type='search'] .title {
    display: inline-table; }
  .app .search-form[data-type='search'] .input-group {
    display: inline-table; }
  .app .search-form[data-type='search'] .search-type {
    display: none; }
  @media screen and (min-width: 768px) {
    .app .search-form .search-label span {
      font-size: 3em; }
    .app .search-form .search-cuisine span {
      font-size: 2em; } }
  .app .search-results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }
    .app .search-results .jumbotron {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      background: none;
      padding: 15px 5%;
      z-index: 1; }
  .app .search-results div[data-response='false'] {
    width: 100%;
    height: 100%; }
    .app .search-results div[data-response='false'] .Filters {
      display: none; }
  .app .btn-success {
    border-radius: 5px !important;
    /* Bootstrap override */ }
    @media screen and (min-width: 768px) {
      .app .btn-success {
        margin-left: 10px; } }
  .app .input-group .form-control {
    border-radius: 0; }
  .app .input-group .btn-group {
    display: block; }
  .app .input-group input[type='text'] {
    z-index: 1; }
  .app .jumbotron {
    margin-bottom: 0; }
  .app .modal-open .modal {
    display: block !important; }

/* styles for restaurant popup modal (consider making this more generic to allow reuse outside restaurant genre) */
.modal {
  display: block !important; }

/* React Bootstrap Modal attaches to body - not .App */
