.App {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 320px;
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header,
.App-footer {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	background-color: rgb(14, 53, 78);
	padding: 15px 6.5%;
	text-align: left;
	color: white;
	z-index: 10;
}

.App-header img,
.App-footer img {
	height: 40px;
}

.Restaurant-search {
	display: flex;
	flex-direction: column;
	flex-grow: inherit;
	flex: 9;
	overflow-y: auto;
	overflow-x: hidden;
}

.bold {
	font-weight: 600;
}

.btn-success {
	border-radius: 5px !important; /* Bootstrap override */
}

.input-group .form-control {
	border-radius: 0;
}

.input-group .btn-group {
	display: block;
}

.input-group input[type='text'] {
	z-index: 1;
}

.jumbotron {
	margin-bottom: 0;
}

.pad-20 {
	padding: 20px;
}

@media screen and (min-width: 768px) {
	.App-header img,
	.App-footer img {
		height: 50px;
	}

	.btn-success {
		margin-left: 10px;
	}
}

@import 'components/all';
