.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(14,53,78);
  padding: 15px 15%;
  text-align: left;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Inspection-date {
  position: absolute;
  bottom: 0px;
}

.Restaurant-info {
  margin-bottom: 25px;
  outline: 1px solid #ababab;
  outline-offset: -1px;
  padding: 10px;
}

.Search-form {
  background-color: rgb(17,61,89);
}