.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header, .App-footer {
  background-color: rgb(14,53,78);
  padding: 15px 5%;
  text-align: left;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Inspection-date {
  position: absolute;
  bottom: 0px;
}

.Inspection-date::after {
  content: attr(data-month) ' \2219 ' attr(data-date) ' \2219 ' attr(data-year);
}

.jumbotron {
  margin-bottom: 0;
}

.Letter-grades .col-sm-6 {
  margin-bottom: 20px;
}

.Letter-grades.row {
  margin: 0;
}

.Restaurant-modal {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.Restaurant-modal.hidden{
  display: none;
}

.Restaurant-details .close {

}

.Restaurant-details .close::before {
  content: '\2716';
}

.Restaurant-info {
  margin-bottom: 25px;
  outline: 1px solid #ababab;
  outline-offset: -1px;
  padding: 10px;
  text-align: left;
}

.Restaurant-name {
  color: rgb(14,53,78);
  font-weight: 600;
}

.Search-form .title {
  font-size: 2em;
  color: #ffffff;
}

.Search-form {
  background-size: cover !important;
}

.Search-results .jumbotron {
  background: none;
}