.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header, .App-footer {
  background-color: rgb(14,53,78);
  padding: 15px 5%;
  text-align: left;
  color: white;
}

.App-header img, .App-footer img {
  height: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Inspection-date {
  position: absolute;
  bottom: 5px;
  font-size: .8em;
}

.Inspection-date::after {
  content: attr(data-month) ' \2219 ' attr(data-date) ' \2219 ' attr(data-year);
}

.jumbotron {
  margin-bottom: 0;
}

.pad-20 {
  padding: 20px;
}

.input-group .form-control {
  border-radius: 0;
}

.input-group .btn-group {
  display: block;
}

.input-group input[type='text'] {
  z-index: 1;
}

.btn-success {
  border-radius: 5px !important;
}

.Letter-grades .col-sm-6 {
  margin-bottom: 20px;
}

.Letter-grades.row {
  margin: 0;
}

.Restaurant-modal {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: #ffffff;
  box-shadow: 0px 0px 1000000px 100px #555555;;
}

.Restaurant-modal.hidden {
  display: none;
}

.Restaurant-modal .Restaurant-details {
  display: flex;
  height: 100%;
}

.Restaurant-modal .Restaurant-details .close {
  position: absolute;
  top: -35px;
  right: 0px;
  display: flex;
  align-items: center;
  text-shadow: none;
  color: white;
  opacity: 1;
  font-weight: normal;
}

.Restaurant-modal .Restaurant-details .close::after {
  content: '\2716';
  font-size: 1em;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a8a8a;
}

.Restaurant-modal .Restaurant-moreinfo {
  width: 100%;
}

.Restaurant-modal .Restaurant-moreinfo .Restaurant-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  border-bottom: 1px solid #ababab;
  padding: 0 0 20px 0;
  margin: 0;
}

.Restaurant-modal .Restaurant-moreinfo .Restaurant-info .Restaurant-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
}

.Restaurant-modal .Restaurant-moreinfo .Restaurant-info .Restaurant-contact .Restaurant-name {
  font-size: 1em;
}

.Restaurant-modal .Restaurant-moreinfo .Restaurant-info .Restaurant-inspection {
  width: 25%;
}

.Restaurant-inspection-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .Restaurant-modal .Restaurant-moreinfo .Restaurant-info .Restaurant-contact .Restaurant-name {
    font-size: 2em;
    line-height: 1em;
  }

  .btn-success {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .Restaurant-modal .Restaurant-moreinfo .Restaurant-info .Restaurant-contact .Restaurant-name {
    font-size: 3em;
    line-height: 1.2em;
  }
}

.Restaurant-info {
  margin-bottom: 25px;
  outline: 1px solid #ababab;
  outline-offset: -1px;
  padding: 10px;
  text-align: left;
}

.Restaurant-name {
  color: rgb(14,53,78);
  font-weight: 600;
}

.Search-form .title {
  font-size: 2em;
  color: #ffffff;
}

.Search-form {
  background-size: cover !important;
  padding: 15px 5%;
}

.Search-form .search-type {
  position: relative;
  background-color: transparent;
}

.Search-form .search-label > span {
  position: relative;
  float: left;
  background-color: #ffffff;
  color: #555555;
  font-size: 3em;
  font-weight: 600;
  text-align: left;
  padding: 5px;
}

.Search-form .search-cuisine > span {
  position: relative;
  float: left;
  background-color: rgb(69,176,230);
  color: #ffffff;
  font-size: 2em;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  padding: 5px;
  text-align: left;
}

.Search-form .search-cuisine > span::before {
  content: attr(data-value) ' ';
}

.Search-form[data-type='search'] .title, .Search-form[data-type='search'] .input-group {
  display: inline-table;
}

.Search-form:not([data-type='search']) .btn-success {
  display: block;
}

.Search-form[data-type='search'] .search-type {
  display: none;
}

.Search-form:not([data-type='search']) .title, .Search-form:not([data-type='search']) .input-group, .Search-form:not([data-type='search']) .btn-success {
  display: none;
}

.Search-form:not([data-type='search']) .search-type {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.Search-results .jumbotron {
  background: none;
  padding: 15px 5%;
}